// =============================================================================
// Global Variables
// =============================================================================

$font-family: "Open Sans", sans-serif;
$font-weight-normal: 400;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 800;
$background-light: #ffffff;
$background-dark: #0e1414;
$text-light: #ffffff;
$text-dark: #0e1414;
$text-red: #cf1430;